.header-fixed-top {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1030;
    height:50px;
    color:#aaa;
    background-color:#343434;
    text-align: center;
}
.header-space {
    width: 100%;
    height:52px;
}
.page-title {
  padding-bottom: 9px;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}
.wraper {
    margin: 0;
    padding: 15px;
    background-color: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: none;
}